#contacto {
  background-image: linear-gradient(315deg, #2591f7 0%, #076aa8 74%);
}

.contactanos {
  padding-top: 3em;
  text-align: center;
color: aliceblue;  
font-size: 3em;
}


label {
  font-size: large;
  font-weight: bold;;
}

.fullvh {
  min-height: 75vh;
}
