.navcustom{
  background-color: $navColor;
}

li {
    a {
    font-size: 30px;
 }
  }
  
  .header__logo {
    img{
    height: 61px;
    }
  }
  

  .header__logo__mobile {
    img{
    height: 61px;
    }
  }
  

  @media only screen and (min-width: 992px) {
    .header__logo__mobile{
    display: none;
  }
  }

  @media only screen and (max-width: 991px) {
    .header__logo{
    display: none;
  }
  }

  