


body{
background-image: linear-gradient(315deg, #2591f7 0%, #076aa8 74%);
}


  .carousel-headline {
    position: absolute;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
  }




  .carousel-titulo {
    @include titulo();
    font-size: 65px;
   }


   .carousel-subtitulo {
    @include titulo();
    font-size: 35px;
  } 
  

  .carousel-item {
    img {
    object-fit: cover;
    height: 700px;
    }
  }

.carousel-item{
  a{
color: white;
text-decoration: underline;  }
}






  @media only screen and (min-width: 960px) {
    .carousel-caption{
    font-size: 140%;
  }
  }


  @media only screen and (max-width: 768px) {
    .carousel-titulo{
      font-size: 3em;
  }
  .carousel-subtitulo {
    font-size:1.5em;
  }
  }